<check>
  <domain:check xmlns:domain="urn:ietf:params:xml:ns:domain-1.0">
        [%~ FOREACH dom in domain %]
                <domain:name>[% dom %]</domain:name>
        [%~ END %]
  </domain:check>
</check>

